@page "/"
<PageTitle>Home Page</PageTitle>
<h1>Welcome</h1>

<p>I'm an AutoCAD and Revit developer who started a blog to share my CAD knowledge.</p>

<p>The main goals of this blog are:</p>
<ol>
    <li>Share insights and tools from my development workflow that have increased my own productivity.</li>
    <li>Document the evolution of the cadwiki blog.</li>

</ol>

<p>Feel free to contact me at <a style="color:blue">cadwiki.net@gmail.com</a> if you have any blog topic ideas.</p>


<img src="https://github.com/cadwiki/cadwiki-nuget/raw/main/cadwiki-nuget/icons/500x500-cadwiki-v1.png" />