@page "/"
<PageTitle>Home Page</PageTitle>
<h1>Welcome</h1>

<p>I'm an AutoCAD and Revit developer who started a blog to share my CAD knowledge.</p>

<p>The main goals of this blog are:</p>
<ol>
    <li>supply great tools that both developers and users love.</li>
    <li>help CAD Developers take their programming to the next level</li>

</ol>

<p>Feel free to contact me at <a style="color:blue">cadwiki.net@gmail.com</a> if you have any blog topic ideas.</p>


